/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
#container {
  width: 75%;
  margin: 1rem auto;
}
#navbar {
  display: flex;
  justify-content: space-between;
  height: 70px;
}
#mail,
#contact {
  display: flex;
  padding-left: 2rem;
}
#navbar span {
  padding-left: 2rem;
}
#email,
#contact p {
  padding-left: 10px;
}
#mail,
#contact i {
  font-size: 1rem;
  color: black;
  cursor: pointer;
}
#logo i {
  padding-left: 20px;
  font-size: 1rem;
  color: black;
  cursor: pointer;
}
#container-1 {
  width: 100%;
  margin: 1rem auto;
}
#back-img {
  background: url(/img/carousel-1.jpg) no-repeat center/cover fixed;
  height: 100vh;
}
#text h3 {
  color: white;
  text-align: center;
  padding-top: 18%;
  font-size: 3rem;
}
#text h1 {
  color: white;
  text-align: center;
  padding-top: 1%;
  font-size: 4rem;
}
#container-2 {
  width: 80%;
  margin: 1rem auto;
}
#navbar-1 {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 45rem;
}
#logo h1 {
  font-size: 1rem;
}
#links ul {
  display: flex;
  list-style: none;
}
#links ul li a {
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

#dep {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  padding: 40px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#dep select {
  width: 17rem;
  height: 50px;
  padding-left: 20px;
}
#dep input {
  width: 17rem;
  height: 50px;
  padding-left: 20px;
} */
